.parent{    
    display: flex;
    flex-direction: row;
    width: 93%;
    gap: 10rem;
}
.imgDiv{
    background: #FFB400;
    width: 50%;
    height: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgDiv img{
    max-width: 100%;
    max-height: 100%;
}
.secondParent{
    padding-top: 8rem;
    width: 60%;
    padding-right: 6rem;
}
.secondParent h1{
    color: #FFB400;
    font-weight: 800;
    font-size:3rem; 
}
.secondParent span{
    font-weight: 800;
    font-size:2.5rem;
}
.bttn{
    display: flex;
    margin-right: 1rem;
    border: 1px solid #FFB400;
    border-radius: 1.5rem;
}
.bttn button{
    background: #121212;
    border: none;
    color: white;
}

/* .secondParent button{
    width: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1.5rem;
    border: 1px solid #FFB400;
    background: #121212;
    color: white;
    font-weight: 600;
    cursor: pointer;
    padding-left: 3rem;
    
} */
.icon {
    /* border-radius: 50%; */
    /* background-color: #FFB400; */
    
    color: white;
    
    transition: background-color 0.5s ease;
} 


/* .icon:hover {
    background-color: #FFB400;
    
}*/